__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
env/
env_mlops/
build/
dist/
*.egg-info/
data/
mlruns/
notebooks/
reports/
references/
tests/
.git/
.github/
tmp*
*.sqlite
models/*
!models/final_model.pkl
!models/feature_names.json
